<div class="row">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Unidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha Vig.</th>
                <th scope="col">ABM</th>
            </tr>
        </thead>
        <tbody>
            {{#each mod}}
            <tr>
                <td>{{codigo}}</td>
                <td>{{descripcion}}</td>
                <td>{{unidad}}</td>
                <td>{{precio}}</td>
                <td>{{fechaVigente}}</td>
                <td>
                    <a href="/mod/edit/{{_id}}">
                        <button class="btn btn-primary btn-block btn-sm">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                    <form action="/mod/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-primary btn-block btn-sm" type="submit">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>