<script
  src="https://code.jquery.com/jquery-3.2.0.min.js"
  integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
  crossorigin="anonymous"
></script>
<div class="row p-4">
  <div class="col-md-10">
    <div class="card card-header">
      <h5 class="title">
        Línea Templado Convencional
      </h5>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<form id="templadoForm" action="/calcTemplado" method="POST">
  <div class="form-group row">
    <div class="col-sm-2">
      <label class="labelsel" for="selAbertura">
        Abertura
      </label>
    </div>
    <div class="col-sm-6">
      <select class="form-control" name="selAbertura" id="selAbertura">
        <optgroup label="Corredizas">
          {{! 01 }}
          <option value="1">
            Ventana/Puerta dos hojas, una corrediza y otra fija
          </option>
          {{! LISTO }}
          <option value="2">
            Ventana/Puerta cuatro hojas, dos corredizas y dos fijas
          </option>
          {{! LISTO }}
          <option value="3">
            Ventana/Puerta dos hojas, una corrediza y otra fija, con paño fijo inferior ó superior
          </option>
          {{! LISTO }}
          <option value="4">
            Ventana/Puerta dos hojas, una corrediza y otra fija, con paño fijo inferior y superior
          </option>
          {{! LISTO }}
          <option value="5">
            Ventana/Puerta de una hoja corrediza con guía prolongada
          </option>
          {{! LISTO }}
          <option value="6">
            Ventana/Puerta tres hojas, dos corredizas y una fija, guía triple
          </option>
          {{! LISTO }}
          <option value="7">
            Ventana/Puerta seis hojas, cuatro corredizas y dos fijas, guía triple
          </option>
          {{! LISTO }}
        </optgroup>
        <optgroup label="Pivotantes">
          <!--10-->
          <option value="11">
            Puerta de una hoja pivotante
          </option>
          {{! LISTO }}
          <option value="12">
            Puerta de dos hojas pivotantes
          </option>
          {{! LISTO }}
          <option value="13">
            Puerta de una hoja pivotante y un paño fijo lateral
          </option>
          {{! LISTO }}
          <option value="14">
            Puerta de una hoja pivotante y dos paños fijos laterales
          </option>
          {{! LISTO }}
          <option value="15">
            Puerta de una hoja pivotante y paño fijo superior
          </option>
          {{! LISTO }}
          <option value="16">
            Puerta de dos hojas pivotantes y paño fijo superior
          </option>
          {{! LISTO }}
          <option value="17">
            Puerta de dos hojas pivotantes y paño fijo lateral
          </option>
          {{! LISTO }}
          <option value="18">
            Puerta de dos hojas pivotantes y dos paños fijos laterales
          </option>
          {{! LISTO }}
        </optgroup>
        <optgroup label="Proyectantes">
          <!--20-->
          <option value="21">
            Ventana de una hoja proyectante
          </option>
          {{! LISTO }}
          <option value="22">
            Ventana de una hoja proyectante con paño fijo inferior ó superior
          </option>
          {{! LISTO }}
          <option value="23">
            Ventana de una hoja proyectante con paños fijos inferior y superior
          </option>
          {{! LISTO }}
          <option value="24">
            Ventana de dos hojas proyectantes
          </option>
          {{! LISTO }}
        </optgroup>
        <optgroup label="Ventanas pivotantes">
          <!--70-->
          <option value="71">
            Ventana de una hoja pivotante
          </option>
          {{! LISTO }}
          <option value="72">
            Ventana de una hoja pivotante con paño fijo inferior ó superior
          </option>
          {{! LISTO }}
          <option value="73">
            Ventana de una hoja pivotante con paños fijos inferior y superior
          </option>
          {{! LISTO }}
        </optgroup>
        <optgroup label="Box de baño">
          <!--30-->
          <option value="31">
            Mampara para box de baño frontal 2 hojas
          </option>
          {{! LISTO }}
          <option value="32">
            Mampara para box de baño fija
          </option>
          {{! LISTO }}
          <option value="33" disabled>
            Mampara para box de baño esquinero, dos corredizas y dos fijas
          </option>
          {{! PENDIENTE }}
          <option value="34" disabled>
            Mampara para box de baño esquinero, una corrediza y dos fijas
          </option>
          {{! PENDIENTE }}
          <option value="35" disabled>
            Mampara para box de baño de una hoja batiente
          </option>
          {{! PENDIENTE }}
          <option value="36" disabled>
            Mampara para box de baño de una hoja batiente con fijo lateral
          </option>
          {{! PENDIENTE }}
          <option value="37" disabled>
            Mampara para box de baño de dos hojas batientes
          </option>
          {{! PENDIENTE }}
        </optgroup>
        <optgroup label="Espejos">
          <!--40-->
          <option value="41" disabled>
            Espejo pegado a la pared / flotante
          </option>
          {{! PENDIENTE }}
        </optgroup>
        <optgroup label="Fijos">
          <!--50-->
          <option value="51">
            Paño fijo de un módulo
          </option>
          {{! PENDIENTE }}
          <option value="52" disabled>
            Paño fijo de un módulo con tubos 50x50 alrededor
          </option>
          {{! PENDIENTE }}
          <option value="53" disabled>
            Paño fijo de un módulo con tubos 50x100 alrededor
          </option>
          {{! PENDIENTE }}
        </optgroup>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="cantidad" class="labelsel">
        Cantidad
      </label>
    </div>
    <div class="col-sm-2">
      <input
        type="number"
        name="cantidad"
        class="form-control"
        id="cantidad"
        value="{{newAbTemplado.cantidad}}"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="ancho" class="labelsel">
        Ancho
      </label>
    </div>
    <div class="col-sm-3">
      <input
        type="number"
        name="ancho"
        class="form-control"
        id="ancho"
        value="{{newAbTemplado.ancho}}"
      />
    </div>
  </div>
  <div class="form-group row" id="divAncho2">
    <div class="col-sm-2">
      <label for="ancho2" class="labelsel">
        Ancho
      </label>
    </div>
    <div class="col-sm-3">
      <input
        type="number"
        name="ancho2"
        class="form-control"
        id="ancho2"
        value="{{newAbTemplado.ancho2}}"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="alto" class="labelsel">
        Alto
      </label>
    </div>
    <div class="col-sm-3">
      <input
        type="number"
        name="alto"
        class="form-control"
        id="alto"
        value="{{newAbTemplado.alto}}"
      />
    </div>
  </div>
  <div class="form-group row" id="divAltoFijoInf">
    <div class="col-sm-2">
      <label for="altofijoinf" class="labelsel">
        Alto f. inf.
      </label>
    </div>
    <div class="col-sm-3">
      <input
        class="form-control"
        name="altofijoinf"
        type="number"
        id="altofijoinf"
        value="{{newAbTemplado.altofijoinf}}"
      />
    </div>
  </div>
  <div class="form-group row" id="divAltoFijoSup">
    <div class="col-sm-2">
      <label for="altofijosup" class="labelsel">
        Alto f. sup.
      </label>
    </div>
    <div class="col-sm-3">
      <input
        class="form-control"
        name="altofijosup"
        type="number"
        id="altofijosup"
        value="{{newAbTemplado.altofijosup}}"
      />
    </div>
  </div>
  <div class="form-group row" id="divAnchoFijoLat1">
    <div class="col-sm-2">
      <label for="anchofijolat1" class="labelsel">
        Ancho fijo lateral 1
      </label>
    </div>
    <div class="col-sm-3">
      <input
        class="form-control"
        name="anchofijolat1"
        type="number"
        id="anchofijolat1"
        value="{{newAbTemplado.anchofijolat1}}"
      />
    </div>
  </div>
  <div class="form-group row" id="divAnchoFijoLat2">
    <div class="col-sm-2">
      <label for="anchofijolat2" class="labelsel">
        Ancho fijo lateral 2
      </label>
    </div>
    <div class="col-sm-3">
      <input
        class="form-control"
        name="anchofijolat2"
        type="number"
        id="anchofijolat2"
        value="{{newAbTemplado.anchofijolat2}}"
      />
    </div>
  </div>
  <div class="form-group row" id="divTipoEspejo">
    <div class="col-sm-2">
      <label for="tipoEspejo" class="labelsel">
        Tipo de espejo
      </label>
    </div>
    <div class="col-sm-3">
      <select id="tipoEspejo" name="tipoEspejo" class="form-control">
        <option value="1">
          Pegado a la pared
        </option>
        <option value="2">
          Flotante con U
        </option>
        <option value="3">
          Flotante con tubo 25x25
        </option>
        <option value="4">
          Flotante con tubo 50x25
        </option>
        <option value="5">
          Angulo 20x20
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row" id="divTipoCierre">
    <div class="col-sm-2">
      <label for="tipoCierre" class="labelsel">
        Tipo de cierre
      </label>
    </div>
    <div class="col-sm-3">
      <select id="tipoCierre" name="tipoCierre" class="form-control">
        <option value="1">
          Freno Dorma
        </option>
        <option value="2">
          Freno Dorma Reforzado
        </option>
        <option value="3">
          Freno Superfren
        </option>
        <option value="4">
          Pivot loco
        </option>
        <option value="5">
          Freno Dorma y Pivot Loco
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row" id="divTipoBrazo">
    <div class="col-sm-2">
      <label for="tipoBrazo" class="labelsel">
        Tipo de brazo
      </label>
    </div>
    <div class="col-sm-3">
      <select id="tipoBrazo" name="tipoBrazo" class="form-control">
        <option value="19925">
          Brazo 25 cm
        </option>
        <option value="19930">
          Brazo 30 cm
        </option>
        <option value="19935">
          Brazo 35 cm
        </option>
        <option value="B40">
          Brazo 40 cm
        </option>
        <option value="B45">
          Brazo 45 cm
        </option>
        <option value="B60" disabled>
          Brazo 60 cm
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row" id="divColorAluminio">
    <div class="col-sm-2">
      <label for="selColorAluminio" class="labelsel">
        Color Aluminio
      </label>
    </div>
    <div class="col-sm-3">
      <select
        id="selColorAluminio"
        name="selColorAluminio"
        class="form-control"
      >
        <option value="Bronce 1003">
          Bronce 1003
        </option>
        <option value="Bronce 1002">
          Bronce 1002
        </option>
        <option value="Blanco">
          Blanco
        </option>
        <option value="Fosco">
          Fosco
        </option>
        <option value="Efecto Madera">
          Efecto Madera
        </option>
      </select>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <label for="proveedoraluminio" class="labelsel">
        Proveedor
      </label>
    </div>
    <div class="col-sm-4">
      <select
        id="proveedoraluminio"
        name="proveedoraluminio"
        class="form-control"
      >
        <option value="Vidriocar S.A." disabled>
          Vidriocar S.A.
        </option>
        <option value="Alumerco S.R.L." selected>
          Alumerco S.R.L.
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row" id="divTipoManijon">
    <div class="col-sm-2">
      <label for="tipoManijon" class="labelsel">
        Manijón
      </label>
    </div>
    <div class="col-sm-3">
      <select id="tipoManijon" name="tipoManijon" class="form-control">
        <option value="MANI">
          Madera
        </option>
        <option value="MANIBLANCO">
          Resina
        </option>
        <option value="HDL639">
          30 cm tipo "C"
        </option>
        <option value="HDL633">
          30 cm tipo "H"
        </option>
        <option value="GL40632">
          45 cm tipo "H"
        </option>
        <option value="HDL634">
          60 cm tipo "H"
        </option>
        <option value="HDL632">
          100 cm
        </option>
        <option value="HDL6321500">
          150 cm
        </option>
        <option value="M180CMAGPAR">
          180 cm
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row" id="divColorVidrio">
    <div class="col-sm-2">
      <label for="colorvidrio" class="labelsel">
        Color Vidrio
      </label>
    </div>
    <div class="col-sm-3">
      <select id="colorvidrio" name="colorvidrio" class="form-control">
        <option value="Incoloro">
          Incoloro
        </option>
        <option value="Bronce">
          Bronce
        </option>
        <option value="Gris">
          Gris
        </option>
        <option value="Verde">
          Verde
        </option>
      </select>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <label for="proveedorvidrio" class="labelsel">
        Proveedor vidrio
      </label>
    </div>
    <div class="col-sm-4">
      <select id="proveedorvidrio" name="proveedorvidrio" class="form-control">
        <option value="Vidriocar S.A.">
          Vidriocar S.A.
        </option>
        <option value="Fineza S.A.">
          Fineza S.A.
        </option>
        <option value="Agpar S.A." selected>
          Agpar S.A.
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row" id="divEspesorVidrio">
    <div class="col-sm-2">
      <label for="espesorvidrio" class="labelsel">
        Espesor Vidrio
      </label>
    </div>
    <div class="col-sm-3">
      <select id="espesorvidrio" name="espesorvidrio" class="form-control">
        <option value="4">
          4 mm
        </option>
        <option value="5">
          5 mm
        </option>
        <option value="6">
          6 mm
        </option>
        <option value="8">
          8 mm
        </option>
        <option value="10">
          10 mm
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row" id="divColorAccesorio">
    <div class="col-sm-2">
      <label for="coloraccesorio" class="labelsel">
        Color Accesorio
      </label>
    </div>
    <div class="col-sm-3">
      <select id="coloraccesorio" name="coloraccesorio" class="form-control">
        <option value="Marrón">
          Marrón
        </option>
        <option value="Cromado">
          Cromado
        </option>
        <option value="Bronce">
          Bronce
        </option>
      </select>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <label for="proveedoraccesorios" class="labelsel">
        Proveedor accesorios
      </label>
    </div>
    <div class="col-sm-4">
      <select
        id="proveedoraccesorios"
        name="proveedoraccesorio"
        class="form-control"
      >
        <option value="Vidriocar S.A." disabled>
          Vidriocar S.A.
        </option>
        <option value="Alumerco S.R.L." selected>
          Alumerco S.R.L.
        </option>
        <option value="AL Herrajes" disabled>
          AL Herrajes
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row" id="divCierre">
    <div class="col-sm-2">
      <label for="cierreopc" class="labelsel">
        Tipo de Cierre
      </label>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="cierreopc" id="cierreopc">
        <option value="1">
          Cerradura con llave
        </option>
        <option value="2">
          Cerradura click chica
        </option>
        <option value="3">
          Tirador y pasador
        </option>
        <option value="4">
          Cerradura click chica y pasador
        </option>
        <option value="5">
          Cerradura de centro santa marina
        </option>
        <option value="6">
          Sin cerradura
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="parametro" class="col-sm-2 labelsel">
      Parámetro Perfil
    </label>
    <div class="col-sm-3">
      <select id="parametro" name="parametro" class="form-control">
        <option value="1.05">
          Normal
        </option>
        <option value="1.3">
          Especial
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row" id="guiaEmbutida">
    <label for="embutido" class="col-sm-2 labelsel">
      Guía inferior
    </label>
    <div class="col-sm-3">
      <select id="embutido" name="embutido" class="form-control">
        <option value="No">
          Sin embutir
        </option>
        <option value="Si">
          Embutida
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row" id="arenadoDiv">
    <label for="arenado" class="col-sm-2 labelsel">
      Arenado
    </label>
    <div class="col-sm-3">
      <select id="arenado" name="arenado" class="form-control">
        <option value="ACiego">
          Arenado Sin Dibujo/Pleno (Ciego)
        </option>
        <option value="ADSimple">
          Dibujos Simples
        </option>
        <option value="ADComp">
          Dibujos Complejos
        </option>
        <option value="SatinadoComp">
          Santinado Complejo
        </option>
        <option value="No">
          Sin arenado
        </option>
      </select>
    </div>
    <div class="col-sm-1"></div>
    <label for="proveedorarenado" class="col-sm-2 labelsel">
      Proveedor arenado
    </label>
    <div class="col-sm-3">
      <select
        id="proveedorarenado"
        name="proveedorarenado"
        class="form-control"
      >
        <option value="Vidriocar S.A.">
          Vidriocar S.A.
        </option>
        <option value="Publinox S.R.L.">
          Publinox S.R.L.
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="plastificado" class="col-sm-2 labelsel">
      Plastificado
    </label>
    <div class="col-sm-3">
      <select id="plastificado" name="plastificado" class="form-control">
        <option value="Si">
          Con plastificado
        </option>
        <option value="No">
          Sin plastificado
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="costo" class="labelsel">
        Costo
      </label>
    </div>
    <div class="col-sm-3">
      <input
        class="form-control"
        name="costo"
        type="number"
        id="costo"
        value="{{newAbTemplado.costo}}"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-secondary" id="calcular">
        Calcular
      </button>
    </div>
  </div>
</form>
<script src="/js/templado.js"></script>
<script>
  // Linea de templado
   $(function () {
        const selAbertura = "{{newAbTemplado.selAbertura}}";
        if (selAbertura=="3"){
          $("#divAltoFijoInf").show();
        }
        if ("{{newAbTemplado.selAbertura}}"=="4"){
          $("#divAltoFijoInf").show();
          $("#divAltoFijoSup").show();
          $("#guiaEmbutida").hide();
        }
        $("#selAbertura").val("{{newAbTemplado.selAbertura}}");
        $("#colorvidrio").val("{{newAbTemplado.colorvidrio}}");
        $("#proveedorvidrio").val("{{newAbTemplado.proveedorvidrio}}");
        $("#espesorvidrio").val("{{newAbTemplado.espesorvidrio}}");
        $("#coloraccesorio").val("{{newAbTemplado.coloraccesorio}}");
        $("#proveedoraccesorio").val("{{newAbTemplado.proveedoraccesorio}}");
        if (selAbertura=="32" || selAbertura=="51") {
          $("#divColorAccesorio").hide();
          $("#divCierre").hide();
          $("#guiaEmbutida").hide();
        }
        if (selAbertura=="31" || selAbertura=="71" || selAbertura=="72" || selAbertura=="73") {
          $("#divCierre").hide();
          $("#guiaEmbutida").hide();
        }
        if (selAbertura=="72") {
          $("#divAltoFijoInf").show();
        }
        if (selAbertura=="73") {
          $("#divAltoFijoInf").show();
          $("#divAltoFijoSup").show();
        }
        if ("{{newAbTemplado.selAbertura}}"=="11" || "{{newAbTemplado.selAbertura}}" == "12"){
          $("#tipoManijon").val("{{newAbTemplado.tipoManijon}}");
          $("#tipoCierre").val("{{newAbTemplado.tipoCierre}}");
          $("#divCierre").hide();
          $("#guiaEmbutida").hide();
          $("#divColorAluminio").hide();
        } else {
          $("#cierreopc").val("{{newAbTemplado.cierreopc}}");
          $("#embutido").val("{{newAbTemplado.embutido}}");
          $("#selColorAluminio").val("{{newAbTemplado.selColorAluminio}}");
          $("#proveedoraluminio").val("{{newAbTemplado.proveedoraluminio}}");
        }
        if (selAbertura=="13" || selAbertura == "14" || selAbertura == "15" || selAbertura == "16" || selAbertura == "17" || selAbertura == "18"){
          switch (selAbertura) {
            case "13":
              $("#divAnchoFijoLat1").show();
              break;
            case "14":
              $("#divAnchoFijoLat1").show();
              $("#divAnchoFijoLat2").show();
              break;
            case "15":
              $("#divAltoFijoSup").show();
              break;
            case "16":
              $("#divAltoFijoSup").show();
              break;
            case "17":
              $("#divAnchoFijoLat1").show();
              break;
            case "18":
              $("#divAnchoFijoLat1").show();
              $("#divAnchoFijoLat2").show();
              break;
          }
          $("#tipoManijon").val("{{newAbTemplado.tipoManijon}}");
          $("#tipoCierre").val("{{newAbTemplado.tipoCierre}}");
          $("#divCierre").hide();
          $("#guiaEmbutida").hide();
        } else {
          $("#cierreopc").val("{{newAbTemplado.cierreopc}}");
          $("#embutido").val("{{newAbTemplado.embutido}}");
        }
        if (selAbertura=="21" || selAbertura=="22" || selAbertura=="23" || selAbertura=="24") {
          $("#divTipoBrazo").show();
          $("#tipoBrazo").val("{{newAbTemplado.tipoBrazo}}");
          $("#divCierre").hide();
          $("#guiaEmbutida").hide();
          if (selAbertura=="22") {
            $("#divAltoFijoInf").show();
          } else if (selAbertura=="23") {
            $("#divAltoFijoInf").show();
            $("#divAltoFijoSup").show();
          }
        }
        $("#parametro").val("{{newAbTemplado.parametro}}");
        $("#arenado").val("{{newAbTemplado.arenado}}");
        $("#plastificado").val("{{newAbTemplado.plastificado}}");
    });
</script>
