<script src="https://code.jquery.com/jquery-3.2.0.min.js"
    integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous">
    </script>
<script>
    // Linea de carpintería
    $(function () {
        $("#linea").val('{{accesorio.linea}}');
        $("#color").val('{{accesorio.color}}');
        $("#proveedor").val('{{accesorio.proveedor}}');
    });
</script>
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar Accesorio</h3>
        </div>
        <div class="card-body">
            <form action="/accesorios/edit/{{accesorio._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">

                <div class="form-group">
                    <input type="text" name="codigo" class="form-control" value="{{accesorio.codigo}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="descripcion" class="form-control" value="{{accesorio.descripcion}}">
                </div>
                <div class="form-group">
                    <select id="linea" name="linea" class="form-control">
                        <option value="Alpha">Línea Alpha</option>
                        <option value="Suprema">Línea Suprema</option>
                        <option value="Inova">Línea Inova</option>
                        <option value="Gold">Línea Gold</option>
                        <option value="Templado">Línea Templado</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="color" name="color" class="form-control">
                        <option value="Negro">Negro</option>
                        <option value="Blanco">Blanco</option>
                        <option value="Cromado">Cromado</option>
                        <option value="Bronce">Bronce</option>
                        <option value="Marrón">Marrón</option>
                        <option value="Fosco">Fosco</option>
                        <option value="Neutro">Neutro</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="proveedor" name="proveedor" class="form-control">
                        <option value="Vidriocar S.A.">Vidriocar S.A.</option>
                        <option value="Alumerco S.R.L.">Alumerco S.R.L.</option>
                        <option value="General">General</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="precio" class="form-control" value="{{accesorio.precio}}">
                </div>
                <div class="form-group">
                    <input type="text" name="fechaVigente" class="form-control" value="{{accesorio.fechaVigente}}">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>