<div class="row">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Iniciales</th>
                <th scope="col">Teléfono</th>
                <th scope="col">ABM</th>
            </tr>
        </thead>
        <tbody>
            {{#each vendedores}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{email}}</td>
                <td>{{iniciales}}</td>
                <td>{{telefono}}</td>
                <td>
                    <a href="/vendedores/edit/{{_id}}" target="_blank">
                        <button class="btn btn-primary btn-block btn-sm">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                    <form action="/vendedores/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-primary btn-block btn-sm" type="submit">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>